<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <title>OPOT - The Discord Bot</title>
  </head>
  <body>
    <div style="width: 100%; height: 100vh; background: linear-gradient(to bottom, {{user_banner_color}} 0%, #ffffcc 38%)">
      <img style="border-radius: 50%; display:inline" src={{user_profile}}>
      <h1 style="display:inline; white-space:nowrap;"">{{user_username}}</h1>
      <h3>Your Bank Account: {{user_bank_data}}</h3>
      <img src={{user_rank_card}}>
    </div>
  </body>
</html>