<!DOCTYPE html>
<html>
  <head>
    <link href="../static/style3.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <title>Skyblock Bot</title>
  </head>
  <body>
    <section class="main">
      <header>
        <a href="/" class="logo"><h1>Skyblock Bot</h1></a>
        <ul class="navigation">
          <li><a href="/login">Edit Profile</a></li>
          <li><a href="/edit-rank-card">Edit Rank Card</a></li>
        </ul>
      </header>
      <div class="frontpage">
        <div class="text">
          <h1>HELLO LOL</h1>
          <a href="/login?redirect=editprofile">Edit Profile</a>
        </div>
      </div>
    </section>
  </body>
</html>
