<form action="/just_random_thing/send_private_message/end", method="POST">
  <div class="form-group">
    <input type="text" class="form_control" id="title" aria-describedby="titleforembed" placeholder="Title" name="embed_title">
  </div>
  <div class="form-group">
    <input type="text" class="form_control" id="message" aria-describedby="messageforembed" placeholder="Message" name="embed_message">
  </div>
  <div class="form-group">
    <input type="text" class="form_control" id="user" aria-describedby="userforembed" placeholder="User Id" name="user_id">
  </div>
  <div class="form-group">
    <input type="text" class="form_control" id="color" aria-describedby="colorforembed" placeholder="Color" name="embed_color">
  </div>
  <button type="submit" class="btn btn-secondary">Submit Ig :/</button>
</form>